# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
.next-e2e/
out/
build/
*.tsbuildinfo
.turbo/

# tests
coverage/
playwright-report/
test-results/
blob-report/

# local data
.shadow/
*.pglite/
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editors
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
